body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

#game {
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 0;
}

h1::before {
  content: url(connect4.png);
  display: block;
  margin: auto;
}

#board td {
  width: 60px;
  height: 60px;
  background: radial-gradient(circle, transparent, transparent 24px, #000000 23px, #000000 23px, #000000 36px, #000000) center top/60px 60px;
  border: 2px solid #000000;
  position: relative;
}

#current-player {
  margin-bottom: 5px; 
  font-size: 24px; 
  color: #000;
}
#restart-game {
  background-color: #f4dc0b;
  color: rgb(247, 240, 240);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

#restart-game:hover {
  background-color: #f4dc0b;
}

.piece {
  border-radius: 50%;
  margin: 5px 5px 5px;
  width: 80%;
  height: 80%;
  position: absolute;
  transition: top 1s ease;
}
.p1 {
  background-color: red; 
}

.p2 {
  background-color: #0582af;
}

#column-top td {
  border: dashed 1px #535351;
}

#column-top td:hover {
  background-color: #f4dc0b;
} 
